@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded dark:bg-dark-text-secondary/80;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-dark-text-secondary/70;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  main {
    @apply flex flex-col;
    height: calc(100vh - 4rem);
  }

  #dropzone-file {
    @apply h-full cursor-pointer;
  }

  .emoji-404 {
    @apply relative;
    animation: emoji-404 2.5s infinite;
  }

  button span {
    white-space: nowrap;
  }

  kbd {
    @apply px-1 py-0.5 bg-gray-200 rounded h-fit dark:bg-dark-secondary;
    font-family: "Fira Code", "Courier New", monospace;
  }

  .regex-match {
    @apply bg-orange-200 !text-black;
  }

  .h-without-nav {
    height: calc(100vh - 60px);
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    @apply p-0;
  }

  .datepicker {
    @apply z-50;
  }
}

@keyframes emoji-404 {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

.animate-zoom-in {
  animation: zoom-in 0.4s;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
